<header class="site-header">
    <div class="container">
        <h1 class="site-title">
            <a href="{{ path('home') }}">RobotStore</a>
        </h1>
        <nav class="header-nav">
            <a href="{{ path('app_login') }}" class="icon-link" title="Mon profil">
                <i class="fa fa-user"></i>
            </a>
            <a href="{{ path('app_register') }}" class="icon-link" title="Mon profil">
                <i class="fa-solid fa-user-plus"></i>
            </a>
            
            <a href="{{ path('cart') }}" class="icon-link" title="Mon panier">
                <i class="fa fa-shopping-cart"></i>
            </a>
        </nav>
    </div>
</header>
